name: Run

on:
  push:

jobs:
  run:
    runs-on: ${{ matrix.os }}
    name: Day ${{ matrix.day }} (${{ matrix.os }})

    strategy:
      matrix:
        os: ['ubuntu-latest', 'macos-latest']
        day: ['01', '02']

    steps:
    - uses: actions/checkout@v4
    - uses: cachix/install-nix-action@v22
      with:
        nix_path: nixpkgs=channel:nixos-unstable
    - name: Build
      # We have to disable sandboxing to allow derivations to access the network
      # during builds. This is required e.g. to build day 9's PAKCS with Haskell
      # Stack, which downloads its own GHC, packages etc.
      run: nix build -v --option sandbox false || (nix log; exit 1)
      working-directory: 'day${{ matrix.day }}'
    - name: Run with input
      run: nix run . resources/input.txt
      working-directory: 'day${{ matrix.day }}'
